/* Gallery: */

.gallery-wrapper {
    position: relative;
    padding: 3rem 8.33%;
}

ul.gallery__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-content: center;
    padding-left: 0;
    list-style-type: none;
    li {
        justify-self: start;
        position: relative;
        margin: .5em;
        p {
            position: relative;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}