/* Presentation Styles: */

// snap container
.presentation-wrapper {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    color: $textgray;
}

/* Slide parent: */

// snap items
[class*="present-slides__"] {
    position: relative;

    height: 100vh;
    padding: 0 4.167%;
    scroll-snap-align: center;
    border-bottom: 1px solid $halfgray;
}

.present-slides__intro {

}

.present-slides__2 {

}

.present-slides__3 {

}

/* Slide contents: */

.present-slide__title {

}

.present-slide__content {

}