/* Resume Layout: */

.resume-layout-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: "main skills";
	margin: 1in auto;
	padding: 0;
	height: 11in;
	width: 8.5in;
	border: .5px solid darkgray;
	box-shadow: 4px 4px 2px 0 rgba(0,0,0,.15);
	h1,
	h2,
	h3,
	h4 {
		margin: 0;
		line-height: 1;
	}
}

.resume__skills-wrapper {
	grid-area: skills;
	position: relative;
	padding: 2rem 1rem;
	background-color: black;
	color: white;
}

.resume__main {
	grid-area: main;
	position: relative;
	margin-right: 0;
	padding: 2rem;
	padding-right: 1rem;
//	border: 1.5px solid black;
//	border-right: none;
	p:first-of-type {
		font-family: $paralucent;
	}
	p:nth-of-type(2) {
		font-family: $mr-eaves;
	}
	h1 {
		font-size: 2rem; // 32px -> 1/3in | .5in = 48px | 16px = 1rem = 1/6in
		font-weight: 900;
		line-height: 1;
		text-transform: uppercase;
		margin: 0;
	}
}