---
---

/* General Styles: */

// fonts:
$paralucent: "paralucent-condensed";
$mr-eaves: 	 "mr-eaves-xl-modern";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "proxima-nova", sans-serif;
	line-height: 1.5; // if 16px, = 24px line height
}

main {
	padding-top: 60px; /* match navbar height */
}

li > p {
    margin: 0;
}

// layout-specific
.layout--plain {
    max-width: calc(816px + 16.67%);
    margin: 0 auto;
    padding: 3rem 8.33%;
}

/* Partials: */

@import "_colors/slab-palette";
@import "_colors/patterns-palette";
@import "_colors/resume-palette";
@import "footer";
@import "navbar";
@import "page";
@import "resume-draft-1";
@import "resume-styling";