---
---

/* General Styles: */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "proxima-nova", sans-serif;
	line-height: 1.5; // if 16px, = 24px line height
}

/* Defaults: */

main {
	padding-top: 60px; // match navbar height
}

li > p {
    margin: 0;
}

.layout--plain {
    max-width: calc(816px + 16.67%);
    margin: 0 auto;
    padding: 3rem 8.33%;
}

/* Partials: */

// colors
@import "_colors/workshop-palette";

// defaults
@import "footer";
@import "navbar";
@import "page";

// site-specific
@import "gallery";
@import "presentation";